@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,900&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
}

.header{
    background-color: rgb(203, 255, 236);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header h1{
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 32px;
}
.header a{
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    padding: 0px 10px;
    font-size: 20px;
}